.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 16px clamp(24px, 4.165vw, 60px);
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-grow: 1;

  > *:last-child {
    display: none;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.aside {
  display: flex;
  align-items: center;
  gap: 24px;

  &__docs {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #21407d5f;
    text-underline-offset: 1px;
    display: none;
  }

  &__notification {
    margin-left: 17px;
    cursor: pointer;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &__image {
      position: relative;
      width: clamp(40px, 3.333333333vw, 48px);
      height: clamp(40px, 3.333333333vw, 48px);

      &__link {
        border-radius: 50%;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  &__user {
    display: none;
    align-items: center;
    gap: 4px;

    &__name {
      font-size: 16px;
      font-weight: 500;
      line-height: 18.77px;
      color: #213f7d;
      text-transform: capitalize;
    }
  }
}

@media (min-width: 500px) {
  .wrapper {
    padding-block: clamp(20px, 1.805555556vw, 26px);
  }

  .aside {
    gap: 30px;

    &__user {
      display: flex;
    }
  }
}

@media (min-width: 900px) {
  .aside__docs {
    display: block;
  }

  .menu > *:last-child {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .menu__image {
    display: none;
  }
}
