$white: #fff;

.wrapper {
  font-family: var(--font-avenir-next);
  display: flex;
  height: 100dvh;
  overflow: hidden;
}

.wrapper > * {
  flex: 1;
  min-width: 50%;
}

.main {
  background-color: $white;
  box-shadow: 0px 15px 90px 0px #00000008;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow-y: auto;
  padding: 22.222222222vh 24px 40px;
}

.main > * {
  width: min(100%, 447px);
}

.main__heading {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.main__heading__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.04em;
  color: #213f7d;
}

.main__heading__body {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #545f7d;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__submit {
  background-color: #39cdcc;
  border-radius: 8px;
  padding: 14px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  letter-spacing: 0.1em;
  transition: background-color 0.14s ease-in-out;
}

.form__submit:hover {
  background-color: #28b8b8e4;
}

.passwordText,
.forgotPassword {
  color: #39cdcc;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.39px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color 0.14s ease-in-out;
}

.forgotPassword {
  margin-bottom: 6px;
}

.passwordText:hover,
.forgotPassword:hover {
  color: #39cdcdda;
}

.aside {
  display: none;
}

.logoWrapper {
  position: relative;
  margin-left: 30px;
  width: clamp(140px, 29.6528%, 173.76px);
  aspect-ratio: 4.826666667 / 1;
}

.illustrationWrapperOuter {
  margin-block: auto;
}

.illustrationWrapper {
  position: relative;
  width: clamp(140px, 100%, 600px);
  aspect-ratio: 1.77740913 / 1;
  margin-top: -3vh;
}

.logo,
.illustration {
  position: absolute;
  width: unset !important;
  height: 100% !important;
}

@media (min-width: 500px) {
  .main {
    gap: clamp(10px, 8.95%, 60px);
    padding-inline: clamp(30px, 5%, 100px);
  }

  .main__heading {
    gap: 10px;
  }

  .main__heading__header {
    font-size: 40px;
    line-height: 54.64px;
  }

  .main__heading__body {
    font-size: 20px;
    line-height: 27.32px;
  }
}

@media (min-width: 900px) {
  .aside {
    display: flex;
    flex-direction: column;
    gap: 139px;
    padding: 106px 67px;
    background: linear-gradient(to right, #fff, #fcfcfc);
  }

  .main {
    align-items: stretch;
  }

  .main > * {
    max-width: 447px;
  }
}

@media (min-width: 900px) {
  .aside {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10vh 40px;
    background: linear-gradient(to right, #fff, #fcfcfc);
  }
}

@media (min-width: 1100px) {
  .main {
    gap: clamp(10px, 8.95%, 60px);
    padding-inline: clamp(40px, 6.945%, 100px);
  }

  .aside {
    padding: 11.777777778vh 67px;
  }
}
