.wrapper {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  position: relative;

  &__children {
    padding: clamp(24px, 4.165vw, 60px);
    box-shadow: inset 0px 0px 20px 0px #0000000a;
  }
}
