.wrapper {
  display: flex;
  border: 1px solid #213f7d33;
  border-radius: 8px;
  gap: 6px;
  overflow: hidden;
  width: min(400px, 100%);

  &:focus-within {
    outline: 2px solid #39cdcd33;
    border-color: #cdd0da1d;
    outline-offset: -1px;
  }

  &__input {
    flex-grow: 1;
    padding: 16px 10px;
    color: #545f7d;
  }

  &__input,
  &__input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.42px;
  }

  &__input::placeholder {
    color: #545f7db3;
  }

  &__search {
    background-color: #39cdcc;
    padding: 12px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.14s ease-in-out;

    &:hover {
      background-color: #39cdcddd;
    }
  }
}

@media (min-width: 500px) {
  .wrapper {
    &__input {
      padding: clamp(10px, 0.833333333vw, 12px) clamp(16px, 1.388888889vw, 20px);
    }

    &__search {
      padding: clamp(10px, 0.833333333vw, 12px) clamp(16px, 1.388888889vw, 20px);
    }
  }
}
