.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.wrapperOpen {
  min-height: 642px;
}

.overlayTop {
  position: absolute;
  top: 0;
  height: 35px;
  left: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 3;
  left: 270px;
  cursor: pointer;
}

.filters {
  position: absolute;
  z-index: 5;
  left: 0;
  width: 100vw;
  top: 35px;
  display: none;

  &__inner {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    padding: 30px 20px 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 3px 5px 20px 0px #0000000a;
    border: 1px solid #545f7d24;
    background-color: #ffffff;
    border-radius: 4px;
    width: 270px;
    opacity: 0;
    transition-property: overlay display opacity;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;

    &__items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;

      &__title {
        font-size: 14px;
        font-weight: 500;
        line-height: 16.42px;
        color: #545f7d;
      }

      &__input {
        padding: clamp(8px, 0.833333333vw, 12px)
          clamp(16px, 1.388888889vw, 20px);
        border: 1px solid rgba(33, 63, 125, 0.2);
        background-color: #fff;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.42px;
        color: rgb(84, 95, 125);
        width: 100%;

        &::placeholder {
          color: rgba(84, 95, 125, 0.7);
        }
      }

      &__organization,
      &__organization__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.42px;
        color: rgb(84, 95, 125);
      }

      &__organization {
        border: 1px solid rgba(33, 63, 125, 0.2);
        background-color: #fff;
        min-width: 230px;
        max-width: 100%;
        padding: clamp(8px, 0.833333333vw, 12px)
          clamp(16px, 1.388888889vw, 20px);
        text-align: left;
        color: rgba(84, 95, 125, 0.7);
      }

      &__date {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.filtersOpen {
  display: block;

  & .filters__inner {
    opacity: 1;
  }

  @starting-style {
    opacity: 0;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 10px;

  & > * {
    flex: 1;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.42px;
    min-width: fit-content;
    border-radius: 8px;
    padding: 12px 6px;
  }

  &__reset {
    border: 1px solid #545f7d;
    background-color: transparent;
    color: #545f7d;
  }

  &__filter {
    border: 1px solid #39cdcc;
    background-color: #39cdcc;
    color: #ffffff;
    transition: background-color 0.14s ease-in-out;

    &:hover {
      background-color: #39cdcddd;
    }
  }
}

.table {
  border: 1px solid #213f7d0f;
  box-shadow: 3px 5px 20px 0px #0000000a;
  background-color: #ffffff;
  border-radius: 4px;
  padding-inline: 30px;
  padding-block: 30px 32px;
  overflow-x: auto;
  position: relative;

  &__header {
    &__row {
      border: 0;
      cursor: pointer;

      &__cell {
        padding-bottom: 14px;
        margin-right: 20px;
        position: relative;
      }
    }
  }

  &__body {
    &__row {
      &__cell {
        text-wrap: nowrap;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.42px;
        color: #545f7d;
      }
    }
  }

  &__empty {
    height: 6rem;
    text-align: center;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  &__input {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    &__text {
      white-space: nowrap;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.42px;
      color: #545f7d;
    }

    &__showingText {
      display: none;
    }

    &__trigger {
      height: 30px;
      width: 80px;
      padding-inline: 12px;
    }

    &__size {
      font-size: 14px;
      font-weight: 500;
      line-height: 16.42px;
      color: #213f7d;
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 20px;

  &__control {
    cursor: pointer;
  }
}

.pagination {
  display: none;
  align-items: flex-end;
  gap: 20px;
  flex-wrap: wrap;

  &__number {
    min-width: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    color: rgb(84, 95, 125, 0.6);
    cursor: pointer;
  }

  &__active {
    color: #545f7d;
  }
}

.scrollArea {
  height: 300px;
}

.notAllowed {
  cursor: not-allowed;
}

@media (min-width: 300px) {
  .bottom__input__showingText {
    display: block;
  }
}

@media (min-width: 345px) {
  .pagination {
    display: flex;
  }

  .controls {
    width: unset;
  }
}

@media (min-width: 630px) {
  .bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1250px) {
  .wrapperOpen {
    min-height: 670px;
  }
}
