.wrapper {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -110vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  z-index: 20;
  transition: left 0.25s ease-in-out;
}

.wrapperShow {
  left: 0;
  width: min(380px, 100%);
}

.overlay {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 15;
  inset: 0;
  background-color: rgba(75, 70, 92, 0.3);
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
}

.overlayHidden {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

.logoWrapperOuter {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: clamp(20px, 1.805555556vw, 26px) clamp(24px, 2.083333333vw, 30px);
  background-color: #fff;
  box-shadow: -15px 0px 20px 0px #0000000a;
}

.logoWrapperInner {
  height: clamp(40px, 3.333333333vw, 48px);
  display: flex;
  justify-content: space-between;
}

.logoWrapperInner > * {
  display: flex;
  align-items: center;
}

.logoWrapper {
  position: relative;
  width: clamp(110px, 10.055555556vw, 144.8px);
  aspect-ratio: 4.826666667 / 1;
}

.logo {
  position: absolute;
  width: unset !important;
  height: 100% !important;
}

.nav {
  position: relative;
  z-index: 8;
  padding-block: clamp(28px, 2.708333333vw, 39px) 20px;
  box-shadow: 0px 5px 20px 0px #0000000a;
  background-color: #fff;
  overflow-y: auto;
  height: 100%;
}

.nav::-webkit-scrollbar {
  width: 7px;
}

.nav::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 3px;
}

.nav::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 8px;
  opacity: 0;
  transition: all 0.3s;
}

.nav:hover::-webkit-scrollbar-thumb {
  background: transparent;
  opacity: 1;
  transition: all 0.3s;
}

.nav:hover::-webkit-scrollbar-thumb:hover {
  background: #40d9d9c6;
}

.nav__top {
  display: flex;
  flex-direction: column;
  gap: clamp(36px, 3.611111111vw, 52px);
}

.nav__top__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 11px clamp(24px, 2.083333333vw, 30px) 11px;
  cursor: pointer;
  transition: all 0.15s;
}

.nav__top__content:hover {
  background-color: #39cdcc0f;
}

.nav__top__content__active {
  background-color: #39cdcc0f;
  position: relative;
}

.nav__top__content__active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #39cdcc;
}

.nav__text__dark,
.nav__text__light {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.nav__main {
  display: flex;
  flex-direction: column;
  gap: clamp(28px, 2.847222222vw, 41px);
}

.nav__text__light {
  color: #213f7d99;
}

.nav__text__dark {
  color: #213f7d;
}

.nav__iconWrapper {
  position: relative;
  width: 16px;
  height: 16px;
}

.nav__iconWrapper__icon {
  position: absolute;
  width: unset !important;
}

.nav__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.08px;
  color: #545f7d;
  margin-inline: clamp(24px, 2.083333333vw, 30px);
}

.nav_links {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.close {
  cursor: pointer;
}

.logoutWrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(28px, 2.847222222vw, 41px);
  margin-top: clamp(24px, 2.083333333vw, 30px);
  padding-top: 20px;
  border-top: 1px solid rgba(33, 63, 125, 0.1);
}

.version {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.08px;
  color: #213f7d;
  padding: 11px clamp(24px, 2.083333333vw, 30px) 11px;
}

@media (min-width: 500px) {
  .nav__top__content,
  .version {
    padding: 11px clamp(28px, 3.263888889vw, 47px) 11px
      clamp(24px, 2.083333333vw, 30px);
  }

  .nav__text__dark,
  .nav__text__light {
    font-size: 16px;
    line-height: 18.77px;
  }

  .nav::-webkit-scrollbar-thumb {
    background: rgba(57, 205, 205, 0.23);
  }

  .nav:hover::-webkit-scrollbar-thumb {
    background: #39cdcd96;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    position: sticky;
    left: 0;
  }

  .overlay,
  .close {
    display: none;
  }

  .wrapperShow {
    width: unset;
  }
}
